apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: {{ operators_gateway_name }}
  namespace: {{ operators_gateway_namespace }}
spec:
  gatewayClassName: {{ operators_gateway_class_name }}
  listeners:
    - name: http
      protocol: HTTP
      port: {{ operators_gateway_http_port }}
      allowedRoutes:
        namespaces:
          from: All
    - name: https
      protocol: HTTPS
      port: 443
      tls:
        mode: Terminate
        certificateRefs:
          - name: {{ operators_awx_certificate_secret_name }}
            kind: Secret
      allowedRoutes:
        namespaces:
          from: All